
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vita Project</title>
  </head>
  <body>
    <header>
        <h1>This will be the header base</h1>
    </header>
    <main>
        {% block content %} 
        {% endblock %}
    </main>
    <footer>
        <div class="footer">
            All Rights Reserved, &copy; 2022 Vita App &nbsp;
        </div>
    </footer>
  </body>
</html>